@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background) url('/images/stars.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}


/* stars.png designed by Mateus Andre (FreePik) */